<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--公共head-->
<head th:include="common :: head"/>
<body>
<!--公共title-->
<span th:include="common :: title"></span>

<div class="container-fluid">
    <div class="row background-black">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <!--***********************************Okcoin资产***********************************-->
            <h2 class="font_white">Okcoin</h2>
            <table class="table table-condensed font_white">
                <tr>
                    <th>可用</th>
                    <td class="align-left" id="assets-okcoin-btc-free">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-okcoin-ltc-free">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-okcoin-cny-free">0</td>
                    <td>￥</td>
                </tr>
                <tr>
                    <th>借贷</th>
                    <td class="align-left" id="assets-okcoin-btc-borrow">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-okcoin-ltc-borrow">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-okcoin-cny-borrow">0</td>
                    <td>￥</td>
                </tr>
                <tr>
                    <th>冻结</th>
                    <td class="align-left" id="assets-okcoin-btc-freezed">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-okcoin-ltc-freezed">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-okcoin-cny-freezed">0</td>
                    <td>￥</td>
                </tr>
                <tr>
                    <th></th>
                    <th>净资产</th>
                    <td class="align-left" id="assets-okcoin-net-asset">0</td>
                    <td>￥</td>
                    <th>总资产</th>
                    <td class="align-left" id="assets-okcoin-total-asset">0</td>
                    <td>￥</td>
                </tr>
            </table>

            <!--***********************************Bitvc资产***********************************-->
            <h2 class="font_white">Bitvc</h2>
            <table class="table table-condensed font_white">
                <tr>
                    <th>可用</th>
                    <td class="align-left" id="assets-bitvc-btc-free">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-bitvc-ltc-free">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-bitvc-cny-free">0</td>
                    <td>￥</td>
                    <td class="align-left" id="assets-bitvc-usd-free">0</td>
                    <td>$</td>
                </tr>
                <tr>
                    <th>借贷</th>
                    <td class="align-left" id="assets-bitvc-btc-borrow">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-bitvc-ltc-borrow">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-bitvc-cny-borrow">0</td>
                    <td>￥</td>
                    <td class="align-left" id="assets-bitvc-usd-borrow">0</td>
                    <td>$</td>
                </tr>
                <tr>
                    <th>冻结</th>
                    <td class="align-left" id="assets-bitvc-btc-freezed">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-bitvc-ltc-freezed">0</td>
                    <td>฿</td>
                    <td class="align-left" id="assets-bitvc-cny-freezed">0</td>
                    <td>￥</td>
                    <td class="align-left" id="assets-bitvc-usd-freezed">0</td>
                    <td>$</td>
                </tr>
                <tr>
                    <th>净资产</th>
                    <td class="align-left" id="assets-bitvc-net-asset">0</td>
                    <td>￥</td>
                    <th>总资产</th>
                    <td class="align-left" id="assets-bitvc-total-asset">0</td>
                    <td>￥</td>
                </tr>
            </table>

            <!--***********************************最新价格***********************************-->
            <table class="table table-condensed font_white">
                <tr>
                    <th>平台</th>
                    <th>卖</th>
                    <th>买</th>
                    <th>成交价</th>
                    <th>时间</th>
                </tr>
                <tr>
                    <th>Okcoin</th>
                    <td id="okcoin-btc-sell-price" class="font_red">NULL</td>
                    <td id="okcoin-btc-buy-price" class="font_green">NULL</td>
                    <td id="okcoin-btc-last-price">NULL</td>
                    <th id="okcoin-btc-time-price">NULL</th>
                </tr>
                <tr>
                    <th>Bitvc</th>
                    <td id="bitvc-btc-sell-price" class="font_red">NULL</td>
                    <td id="bitvc-btc-buy-price" class="font_green">NULL</td>
                    <td id="bitvc-btc-last-price" class="font_white">NULL</td>
                    <th id="bitvc-btc-time-price">NULL</th>
                </tr>
                <tr>
                    <th>Okcoin</th>
                    <td id="okcoin-ltc-sell-price" class="font_red">NULL</td>
                    <td id="okcoin-ltc-buy-price" class="font_green">NULL</td>
                    <td id="okcoin-ltc-last-price" class="font_white">NULL</td>
                    <th id="okcoin-ltc-time-price">NULL</th>
                </tr>
                <tr>
                    <th>Bitvc</th>
                    <td id="bitvc-ltc-sell-price" class="font_red">NULL</td>
                    <td id="bitvc-ltc-buy-price" class="font_green">NULL</td>
                    <td id="bitvc-ltc-last-price" class="font_white">NULL</td>
                    <th id="bitvc-ltc-time-price">NULL</th>
                </tr>
            </table>


            <!--***********************************margin***********************************-->
            <table class="table table-condensed font_white">
                <tr>
                    <th>币种</th>
                    <th>买</th>
                    <th>卖</th>
                    <th>差价</th>
                    <th>时差</th>
                </tr>
                <tr>
                    <td>BTC</td>
                    <td>Okcoin</td>
                    <td>Bitvc</td>
                    <td id="margin-btc-okcoin-bitvc">NULL</td>
                    <td id="time-btc-okcoin-bitvc">NULL</td>
                </tr>
                <tr>
                    <td>BTC</td>
                    <td>Bitvc</td>
                    <td>Okcoin</td>
                    <td id="margin-btc-bitvc-okcoin">NULL</td>
                    <td id="time-btc-bitvc-okcoin">NULL</td>
                </tr>
                <tr>
                    <td>LTC</td>
                    <td>Okcoin</td>
                    <td>Bitvc</td>
                    <td id="margin-ltc-okcoin-bitvc">NULL</td>
                    <td id="time-ltc-okcoin-bitvc">NULL</td>
                </tr>
                <tr>
                    <td>LTC</td>
                    <td>Bitvc</td>
                    <td>Okcoin</td>
                    <td id="margin-ltc-bitvc-okcoin">NULL</td>
                    <td id="time-ltc-bitvc-okcoin">NULL</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            <form>
                <input type="text" id="okcoin-btc-sell-amount" placeholder="卖出量"/>
                <button type="submit">市价卖</button>
            </form>
            <form>
                <input type="text" id="okcoin-btc-buy-amount" placeholder="买入量"/>
                <button type="submit">市价买</button>
            </form>
            <form>
                <input type="text" id="bitvc-btc-sell-amount" placeholder="卖出量"/>
                <button type="submit">市价卖</button>
            </form>
            <form>
                <input type="text" id="bitvc-btc-buy-amount" placeholder="买入量"/>
                <button type="submit">市价买</button>
            </form>
        </div>

        <!--<div id="Okcoin_ltc"></div>-->
        <!--<div id="Bitvc_ltc"></div>-->


        <!--公共foot-->
        <span th:include="common :: foot"></span>


        <script src="/js/trade.js"/>
        <script src="/js/assets.js"/>
        <!--<script src="/js/socket.io.js"/>-->
        <!--<script src="/js/huobi-hq-push-demo.js"/>-->
    </div>
</div>
</body>
</html>