#set($web="www.awinson.com")
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<sec:authorize access="hasRole('ROLE_ADMIN')">
    <form action="/admin" method="post">
        <input type="submit" value="管理员通道"/>
    </form>
</sec:authorize>>
Welcome ${user} to ${web}!

<form action="/logout" method="post">
    <input type="submit" value="注销"/>
</form>
</body>
</html>