<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--公共head-->
<head th:include="common :: head"/>
<body>
<!--公共title+bar-->
<span th:include="common :: frame"></span>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">设置各平台KEY</h1>
            <table class="table table-striped">
                <tr>
                    <th>platform</th>
                    <th>key类型</th>
                    <th>key值</th>
                    <th>key类型</th>
                    <th>key值</th>
                </tr>
                <tr th:each="userApi : ${map.apiMap}">
                    <td th:text="${userApi.key}">platform</td>
                    <span th:each="userApiMap : ${userApi.value}">
                        <td th:text="${userApiMap.key}">api</td>
                         <td th:text="${userApiMap.value}">api</td>
                    </span>
                </tr>
            </table>
            <form action="/u/updateApiKey" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Okcoin 中国站</label>

                    <div class="col-sm-10">
                        <input type="text" name="apiKey" class="form-control" placeholder="apiKey"/>
                        <input type="text" name="secretKey" class="form-control" placeholder="secretKey"/>
                        <input type="hidden" name="platform" value="00"/>
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                </div>
            </form>

            <form action="/u/updateApiKey" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Okcoin 国际站</label>
                    <div class="col-sm-10">
                        <input type="text" name="apiKey" class="form-control" placeholder="apiKey"/>
                        <input type="text" name="secretKey" class="form-control" placeholder="secretKey"/>
                        <input type="hidden" name="platform" value="01"/>
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                </div>
            </form>

            <form action="/u/updateApiKey" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Bitvc中国站</label>
                    <div class="col-sm-10">
                        <input type="text" name="apiKey" class="form-control" placeholder="apiKey"/>
                        <input type="text" name="secretKey" class="form-control" placeholder="secretKey"/>
                        <input type="hidden" name="platform" value="10"/>
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<!--公共foot-->
<span th:include="common :: foot"></span>
</body>
</html>