.border-bottom{
    border-bottom:thick dotted #888888;
}

.login-form-control {
    height: 45px;
}
.margintop300{
    margin-top: 150px;
}
.login-form-signin {
    max-width: 330px;
    padding: 10px;
    margin: 0 auto;
}
#index{
    background-image: url("../images/google-data-center.jpg");
}
.background-white-97{
    background-color: white;
    opacity:0.97;
    padding: 10px 40px 40px 40px;
}

.background-white-80{
    background-color: white;
    opacity:0.85;
    padding: 10px 40px 40px 40px;
}