<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<!--公共head-->
<head th:include="common :: head"/>
<body>
<!--公共title-->
<span  th:include="common :: title"></span>
<div class="jumbotron">
    <div class="container">
        <h1>One</h1>
        <p>Wisdom is better than weapons of war.</p>
        <div th:if="${#httpServletRequest.remoteUser == null}">
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Register</a></p>
        </div>
        <div th:if="${#httpServletRequest.remoteUser != null}">
            <p><a class="btn btn-primary btn-lg" href="/u" role="button">Entry</a></p>
        </div>
    </div>r
</div>

<!--公共foot-->
<span  th:include="common :: foot"></span>
</body>
</html>